# Playwright
node_modules/
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/

# Images
images/

# Venv
venv310/

.env

# Testing
tests/test_images/
htmlcov/
.coverage
.pytest_cache/
coverage.xml
__pycache__/
*.py[cod]
*$py.class
